<table  border="1">
  <tr>
    <th width="2%">ID</th>
    <th width="5%">Name</th>
    <th width="5%">Short Name</th>
    <th width="81%">Special Instructions</th>
    <th width="7%">Action</th>
  </tr>

  <tr ng-repeat="category in $ctrl.categories.data" >
    <td width="2%" style="text-align: center;">{{category.id}}</td>
    <td width="5%" style="text-align: center;">{{category.name}}</td>
    <td width="5%" style="text-align: center;">{{category.short_name}}</td>
    <td width="81%" style="padding-left: 5px;">{{category.special_instructions}}</td>
    <td width="7%" style="text-align: center;">
      <a ui-sref="items({categoryShortName: category.short_name})">
        View Items
      </a>
    </td>
  </tr>

</table>
